.header_container {
    text-align: center;
}

.weather_header {
    color: #000000;
    margin-top: 0;
    -webkit-text-stroke: 1px white;
    font-size: 45px;
}

.weather_header ~ p {
    color: white;
    font-size: 30px;
}

